body {
  background-color: #d9ffea;
  min-height: 100vh;
}

div {
  margin: 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: #111111;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 1.6vw;
}

h2 {
  font-size: 1.4vw;
}

h3 {
  font-size: 1.1vw;
}

p,
li {
  font-size: 1.2vw;
}

.author-nav a,
.goal-nav a,
.tasks-nav a,
.git-link a {
  font-size: 1.2vw;
}

/* header styles + main element*/
header {
  background-color: #87ecd5b2;
  display: flex;
  justify-content: space-around;
  padding: 0 13.3vh;
  align-items: center;
  position: fixed;
  top: 1vh;
  opacity: 90%;
  min-width: 87vw;
  max-height: 17vh;
}

.logo {
  background-color: #419c5c;
  padding: 0.12vw;
  border-radius: 0.8vw;
}

.logo img {
  max-width: 10vw;
  max-height: 10vh;
  margin: auto 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  height: 14vh;
  align-items: center;
  align-content: center;
  margin-right: 4vw;
}

nav div {
  width: 10vw;
  background-color: #19d9d9;
  border-radius: 0.4vw;
  margin: 4vh;
  align-content: center;
  text-align: center;
  padding: 0.8vh;
}

nav div a {
  text-decoration: none;
  font-size: 1vw;
  padding: 0.8vh;
  max-height: 0.8vh;
}

.git-link {
  background-color: #419c5c;
  padding: 1.2%;
  border-radius: 0.6vw;
  font-size: 1vw;
}

.git-link a {
  text-decoration: none;
}

main {
  width: 87.84vw;
  margin: 0 auto;
  margin-top: 18vh;
}

/* author section */
.author {
  background-color: #69ff96;
  border-radius: 2vw;
}

.titles {
  padding: 1vw;
}

.author h1,
.author h2 {
  text-align: center;
}

.my-photo {
  min-width: 80%;
  margin: 0 auto;
}

.my-photo img {
  width: 12%;
  border-radius: 50%;
  border: 0.5px solid black;
  margin: 0 44%;
}

.contacts {
  text-align: center;
  padding: 1vw;
  background-color: #45cc89;
  max-width: 24vw;
  margin: 2vh auto;
  border-radius: 2vh 2vh 0 0;
}

.contacts p {
  font-size: 1.2vw;
}

/* about project section */
.about-project {
  background-color: #96ecd8;
  margin-top: 1.6%;
  display: flex;
  border-radius: 2vw;
}

h2#about-title {
  text-align: center;
  font-size: 1.4vw;
}

.info-about {
  background-color: #96ecd8;
  width: 73.33%;
  border-radius: 2vw 0 0 2vw;
}

.actuality,
.research-goal,
.expected-results,
.keywords-project {
  background-color: #dfff69;
  border-radius: 1vw;
  padding: 1.6vw;
  box-shadow: 0.3vw 0.7vh #6267914b;
  text-align: justify;
}

.photo-back {
  padding: 0.33vw;
  background-color: #6267914b;
  width: 58vw;
  height: 58vh;
  margin: 3.2vh auto;
  border-radius: 0.6vw;
}

.photo-back img {
  width: 58vw;
  height: auto;
  border-radius: 0.6vw;
}

/* technologies section */
.used-technologies {
  background-color: #69ff96;
  width: 26.66%;
  display: flex;
  flex-direction: column;
  border-radius: 0 2vw 2vw 0;
  box-shadow: inset 0.2vw 0 #39ad5cde;
}

.used-technologies .tech {
  margin-top: 0;
}

.used-technologies li {
  list-style: disc;
  margin-left: 1.6vw;
  margin-top: 0.64vh;
}

/* tasks section */
.tasks {
  background-color: #69ff96;
  margin-top: 1.6vw;
  border-radius: 2vw;
  padding: 1vw;
}

h2#tasks-title {
  text-align: center;
  font-size: 1.4vw;
  margin-bottom: 4vh;
}

.tasks-part {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 44vw;
  margin: 0 auto;
}

.task {
  display: flex;
  background-color: #19d9d9;
  border-radius: 1vw;
  padding: 0.1vw;
  align-items: center;
  box-shadow: 0.2vw 0.5vh #13b6b6;
}

.number-task {
  background-color: #00bd39;
  padding: 0.4vw;
  box-shadow: 0.1vw 0.1vh #00942ccb;
  border-radius: 0.3vw;
}

.task p {
  margin: 0.7vw;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.did-not {
  background-color: #e5ff51;
  box-shadow: 0.1vw 0.1vh #9eb134;
}

@media screen and (max-width: 768px) {
  header {
    align-items: center;
    padding: 1vh 5vw;
    max-height: unset;
    min-width: 100vw;
  }

  .logo img {
    max-width: 12vw;
  }

  nav {
    width: 12vw;
    height: auto;
    margin: 0;
    margin-right: 6vw;
  }

  nav div {
    width: 70%;
    margin: 1vh auto;
    margin-right: 1.2vw;
  }

  main {
    margin-top: 10vh;
  }

  .photo-back {
    width: 90%;
    height: auto;
  }

  .photo-back img {
    max-width: 53.2vw;
  }

  h2#tasks-title {
    margin-bottom: 2vh;
  }
}
